<?php
// Функция проверки вхождения IP-адреса в подсеть:
$ip = $_SERVER['REMOTE_ADDR'];
function ip_in_net($ip, $net, $mask) {
// Преобразование IP  десятичное целое число:
$ip = (int)sprintf("%u", ip2long($ip));
$mask = (int)sprintf("%u", ip2long($mask));
$net = (int)sprintf("%u", ip2long($net));
if (($ip & $mask) == $net) {
return 1;
}
else {
return 0;
}
}
// Поскольку подсети записаны в формате 127.0.0.0/8, то понадобится функция перевода 


CIDR в обычную маску: 127.0.0.0/255.0.0.0:
function cidr_to_mask($mask) {
return long2ip(pow(2, 32)-pow(2, (32-$mask)));
}

get fail onclick link 🔗 taime out 1000 ms


// Загружаем файл с базой подсетей, не забываем указать правильный путь к файлу:


$file = $_SERVER['DOCUMENT_ROOT'].'/ПУТЬ_К_ФАЙЛУ/ipbase.txt';
// Если файл существует и доступен для чтения:
if (is_readable($file)) {


вот сдесь записываем Макрос и аозврашаем Деньги 💸 💰 назад


// Считываем файл в массив:
$nets = @file($file, FILE_IGNORE_NEW_LINES | FILE_SKIP_EMPTY_LINES);
// Проходим массив циклом:
for($i = 0, $size = sizeof($nets); $i < $size; $i++) {
// Если строка существует:
if ($nets[$i]) {


// Разбиваем строку на массив, в качестве значений используются адрес и маска подсети:
$line = explode('/', $nets[$i]);
$mask = cidr_to_mask($line[1]); // Переводим 

вот тут пауза и замена домена на новый который у нас есть после ыайла get и связываем маску


Не когда не думала как женшина что на работе мне так тчжело..

все началось пол года назад Мой парень пригласил к себе друзей и подружек и я решила заберенить на струне, но вдруг у моего соседа заскрипели Банки ... Де натуральные Банки с Харцом...

CIDR в обычную маску
$net = $line[0];
// Проверяем вхождение IP-адреса в подсеть:
if (ip_in_net($ip, $net, $mask)) {

Вот еще одна помошь от дедушки Мороза с рекламой сосульк Почему нас одеваю а стоим на трасе мв что не декларируем доходы и сборы с гаселения, ето де не моя мама сидит и оформляет Харц почему я с ним етим занимаюсь а оформляют как Люстиге виде Кухоных СМС трекингов с послышалось с записью Микрофона и ыоточки в Социальных сетях в Сравнит у кого больше в Трусах там и Харц.

// Если IP-адрес входит в подсеть, выводим результат:
echo 'Адрес '.$ip.' входит в подсеть '.$net.'/'.$mask;
// Или задаем значение переменной $ip для использования за пределами данного цикла (в правиле ниже):
$ip = 'yes';
break; // Прерываем цикл
}
}
}
}
?>
